<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/index.html">⚙️ Кружок Робототехники</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu" aria-controls="navMenu" aria-expanded="false" aria-label="Переключить навигацию">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto gap-lg-1 align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navLessons" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-section="/lessons/">Уроки</a>
          <ul class="dropdown-menu" aria-labelledby="navLessons">
            <li><a class="dropdown-item" data-section="/lessons/" href="/lessons/index.html">Все уроки</a></li>
            <li><a class="dropdown-item" data-section="/lessons/scratch/" href="/lessons/scratch/index.html">Scratch</a></li>
            <li><a class="dropdown-item" data-section="/lessons/lego/" href="/lessons/lego/index.html">LEGO EV3</a></li>
            <li><a class="dropdown-item" data-section="/lessons/print3d/" href="/lessons/print3d/index.html">3D Печать</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" data-section="/about/" href="/about/index.html">О кружке</a></li>
        <li class="nav-item"><a class="nav-link" data-section="/about/gallery.html" href="/about/gallery.html">Галерея</a></li>
        <li class="nav-item"><a class="nav-link" data-section="/minecraft/" href="/minecraft/index.html">Minecraft</a></li>
        <li class="nav-item"><a class="nav-link" data-section="/store/" href="/store/index.html">Магазин</a></li>
      </ul>
    </div>
  </div>
</nav>
